---
on:
  pull_request:

jobs:
  markdownlint:
    uses: Stromweld/github-workflows/.github/workflows/markdown-lint.yml@main

  yamllint:
    uses: Stromweld/github-workflows/.github/workflows/yaml-lint.yml@main

  jsonlint:
    uses: Stromweld/github-workflows/.github/workflows/json-lint.yml@main

  cookstylelint:
    uses: Stromweld/github-workflows/.github/workflows/cookstyle-lint.yml@main

  integration-dokken:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - amazonlinux-2
#          - amazonlinux-2022
          - centos-7
          - centos-8
          - almalinux-8
#          - almalinux-9 # TODO: uncomment this when almalinux-9 dokken image is fixed
          - ubuntu-2004
          - ubuntu-2204
        suite:
          - default
          - automate
          - supermarket
        exclude:
          - os: centos-7
            suite: default
          - os: ubuntu-2204
            suite: default
          - os: ubuntu-2204
            suite: supermarket
      fail-fast: false
    steps:
      - name: Check out code
        uses: actions/checkout@main
      - name: Install Chef
        uses: actionshub/chef-install@main
      - name: Test-Kitchen Converge
        uses: actionshub/test-kitchen@main
        with:
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}
          action: converge
        env:
          CHEF_LICENSE: accept-no-persist
          KITCHEN_LOCAL_YAML: kitchen.dokken.yml
        continue-on-error: false
      - name: Test-Kitchen Verify
        uses: actionshub/test-kitchen@main
        with:
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}
          action: verify
        env:
          CHEF_LICENSE: accept-no-persist
          KITCHEN_LOCAL_YAML: kitchen.dokken.yml

  check:
    if: always()
    needs:
      - markdownlint
      - yamllint
      - jsonlint
      - cookstylelint
      - integration-dokken
    runs-on: Ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@main
        with:
          allowed-failures:
          allowed-skips:
          jobs: ${{ toJSON(needs) }}
